<!DOCTYPE html>

</html>

<head>
    <title>Innovid Tier 1 Admin</title>
    <link href="/../stylesheets/style.css" rel="stylesheet">
    <script type="text/javascript" src="/../javascripts/all.js"></script>
</head>

<body class="">
    <div id="wrapper">
        <div class="page-header row">
                <h2><%=page_title%></h2>
                <button class='btn btn-default text-right' onClick='logout();'>Logout</a>
        </div>
        <div class="page-container">
