<%- include layouts/header.ejs %>

    <div class="page-data">
        <div class="data-btn">
            <button onClick="accountManager();">Account Managers</button>
        </div>
        <div class="data-btn">
            <button onClick="salesperson();">SalesPersons</button>
        </div>
    </div>

<%- include layouts/footer.ejs %>
